extends ./base

block body
    body(style='background-color:#1A1A1D;')
        .container(style='width:100% !important; \
                    background-image: url(#{staticRoot}imgs/city.jpg); \
                    background-size: 1900px 625px; background-repeat: no-repeat; \
                    background-position: center top; height:600px;')
            .row
                .col-sm-6.col-md-4.col-md-offset-4
                    .account-wall
                        h1.text-center.login-title(style='font-size:40px; color: #DFD6D6;')
                            | Ant
                            u Chatter
                        form.form-signin
                            input.form-control(type='text', placeholder='First Name', required='required', autofocus='autofocus')
                            input.form-control(type='text', placeholder='Last Name', required='required')
                            button.btn.btn-lg.btn-primary.btn-block(type='submit' style='margin-top:15px')
                                | Join!
                            label.checkbox.pull-left(style='color:#DFD6D6;')
                                input(type='checkbox', value='remember-me')
                                | Remember me
                            span.clearfix
                    //  
                        .text-center.new-account(style='color:#fff;') No passwords, no hassle
        .container
            .row(style='text-align:center;margin-top:20px;')
                .col-sm-12.col-md-10.col-md-offset-1
                    p(style='color:#DFD6D6;font-size:22px;')
                        | Join 
                        u 10 Million
                        |  students from over 
                        u 2000
                        |  universities in the biggest college chat ever.
